{{ define "title" }}
<title>{{ .Title }} | {{ .Site.Title }}</title>
{{ end }}


{{ define "main" }}

<h2 class="text-center my-5">{{ .Title }}</h2>

<ul class="list-group list-group-flush">
    {{ range .Pages }}
    <li class="list-group-item">
        <a href="{{ .Permalink }}" class="d-flex justify-content-between align-items-center">
            <span>
                {{ .Title }}{{ if .Params.subtitle }} <small>{{ .Params.subtitle }}</small>{{ end }}
            </span>
            <span>
                {{ partial "_status_badge.html" . }}
                <span class="badge badge-light badge-pill text-monospace">{{ .Params.date.Format "2006/01/02" }}</span>
            </span>
        </a>
    </li>
    {{ end }}
</ul>

{{ end }}