<nav class="row mt-5">
    <div class="col-md">
        {{ if .NextInSection }}<a class="btn btn-outline-success btn-block mt-3" href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }}</a>{{ else }}<a class="btn btn-outline-success btn-block mt-3" href="{{ .CurrentSection.Permalink }}">目录</a>{{ end }}
    </div>
    <div class="col-md">
        {{ if .PrevInSection }}<a class="btn btn-outline-success btn-block mt-3" href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title }}</a>{{ else }}<a class="btn btn-outline-success btn-block mt-3" href="{{ .CurrentSection.Permalink }}">目录</a>{{ end }}
    </div>
</nav>